<ion-view view-title="Routines">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="newRoutine()">
      Create
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="routine in routines" type="item-text-wrap" href="#/tab/routines/{{routine.id}}">
        <h2>{{routine.name}}</h2>
        <p>{{routine.name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(routine)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
